<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS Reverse Proxy Configuration for Ultimatum Platform
  Requirements:
  1. IIS with URL Rewrite Module 2.0+
  2. IIS Application Request Routing (ARR) 3.0+ (Proxy must be enabled in Server Proxy Settings)
  3. WebSocket Protocol Feature enabled in Server Manager
-->
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
